.img-2876-1-icon,
.img-2880-1-icon {
  animation: moveRightAnimation 2s forwards;
  position: absolute;
  top: 204px;
  left: 394px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-2880-1-icon {
  top: 228px;
  left: 903px;
}
.img-2895-1-icon,
.img-2897-1-icon,
.img-2899-1-icon,
.img-2901-1-icon {
  animation: moveRightAnimation 2s forwards;
  position: absolute;
  top: 172px;
  left: 1018px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-2897-1-icon,
.img-2899-1-icon,
.img-2901-1-icon {
  top: 398.4px;
}
.img-2899-1-icon,
.img-2901-1-icon {
  top: 336px;
  left: 551px;
}
.img-2901-1-icon {
  left: 782px;
}
.img-2903-1-icon,
.img-2905-1-icon,
.img-2906-1-icon,
.img-2908-1-icon,
.img-2911-1-icon {
  animation: moveRightAnimation 2s forwards;
  position: absolute;
  top: 139px;
  left: 1130px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-2905-1-icon,
.img-2906-1-icon,
.img-2908-1-icon,
.img-2911-1-icon {
  top: 365.4px;
}
.img-2906-1-icon,
.img-2908-1-icon,
.img-2911-1-icon {
  top: 346px;
  left: 672px;
}
.img-2908-1-icon,
.img-2911-1-icon {
  top: 172px;
  left: 289px;
}
.img-2911-1-icon {
  top: 42px;
  left: 1230px;
}
.img-2915-1-icon,
.img-2978-1-icon,
.img-2981-1-icon,
.img-2984-1-icon {
  animation: moveLeftAnimation 2s forwards;
  position: absolute;
  top: 388px;
  left: 1240px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-2978-1-icon,
.img-2981-1-icon,
.img-2984-1-icon {
  top: 121px;
  left: 183px;
}
.img-2981-1-icon,
.img-2984-1-icon {
  top: 324px;
  left: 311px;
}
.img-2984-1-icon {
  top: 366px;
  left: 205px;
}
.img-2986-1-icon,
.img-2993-1-icon,
.img-2995-1-icon,
.img-2997-1-icon {
  animation: moveLeftAnimation 2s forwards;
  position: absolute;
  top: 445px;
  left: 263px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-2993-1-icon,
.img-2995-1-icon,
.img-2997-1-icon {
  top: 324px;
  left: 930px;
}
.img-2995-1-icon,
.img-2997-1-icon {
  top: 507px;
  left: 587px;
}
.img-2997-1-icon {
  top: 454px;
  left: 1086px;
}
.img-2999-1-icon,
.img-3002-1-icon,
.img-3004-1-icon,
.img-3006-1-icon {
  animation: moveLeftAnimation 2s forwards;
  position: absolute;
  top: 474px;
  left: 697px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-3002-1-icon,
.img-3004-1-icon,
.img-3006-1-icon {
  top: 282px;
  left: 1310px;
}
.img-3004-1-icon,
.img-3006-1-icon {
  top: 64px;
  left: 105px;
}
.img-3006-1-icon {
  top: 0;
  left: 1340px;
}
.img-3007-1-icon,
.img-3009-1-icon,
.img-3193-1-icon,
.img-3195-1-icon {
  animation: moveLeftAnimation 2s forwards;
  position: absolute;
  top: 216px;
  left: 77px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-3009-1-icon,
.img-3193-1-icon,
.img-3195-1-icon {
  top: 355px;
  left: 88px;
}
.img-3193-1-icon,
.img-3195-1-icon {
  top: 426px;
  left: 1319px;
}
.img-3195-1-icon {
  top: 498px;
  left: 1203px;
}
.img-3197-1-icon,
.img-3199-1-icon,
.img-3201-1-icon,
.img-3203-1-icon {
  animation: moveLeftAnimation 2s forwards;
  position: absolute;
  top: 444px;
  left: 918px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-3199-1-icon,
.img-3201-1-icon,
.img-3203-1-icon {
  top: 183px;
  left: 1253px;
}
.img-3201-1-icon,
.img-3203-1-icon {
  top: 444px;
  left: 139px;
}
.img-3203-1-icon {
  top: 0;
  left: 0;
}
.img-3205-1-icon,
.img-3207-1-icon,
.img-3211-1-icon,
.img-3227-1-icon {
  animation: moveLeftAnimation 2s forwards;
  position: absolute;
  top: 183px;
  left: 1374px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-3207-1-icon,
.img-3211-1-icon,
.img-3227-1-icon {
  animation: moveLeftAnimation 2s forwards;
  top: 216px;
  left: 0;
}
.img-3211-1-icon,
.img-3227-1-icon {
  top: 412px;
}
.img-3227-1-icon {
  left: 389px;
}
.img-3239-1-icon,
.img-3241-1-icon,
.img-3243-1-icon,
.img-3245-1-icon {
  animation: moveLeftAnimation 2s forwards;
  position: absolute;
  top: 291px;
  left: 446px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-3241-1-icon,
.img-3243-1-icon,
.img-3245-1-icon {
  top: 474px;
  left: 467px;
}
.img-3243-1-icon,
.img-3245-1-icon {
  top: 507px;
  left: 350px;
}
.img-3245-1-icon {
  left: 70px;
}
.img-3247-1-icon,
.img-3249-1-icon,
.img-3251-1-icon,
.img-3253-1-icon {
  animation: moveLeftAnimation 2s forwards;
  position: absolute;
  top: 552px;
  left: 210px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-3249-1-icon,
.img-3251-1-icon,
.img-3253-1-icon {
  top: 534px;
  left: 1333px;
}
.img-3251-1-icon,
.img-3253-1-icon {
  top: 552px;
  left: 0;
}
.img-3253-1-icon {
  top: 445px;
  left: 815px;
}
.img-3255-1-icon,
.img-3257-1-icon,
.img-3259-1-icon,
.img-3261-1-icon {
  animation: moveRightAnimation 2s forwards;
  position: absolute;
  top: 573px;
  left: 400px;
  width: 100px;
  height: 216.4px;
  object-fit: cover;
}
.img-3257-1-icon,
.img-3259-1-icon,
.img-3261-1-icon {
  top: 553px;
  left: 1035px;
}
.img-3259-1-icon,
.img-3261-1-icon {
  top: 571px;
  left: 745px;
}
.img-3261-1-icon {
  top: 534px;
  left: 885px;
}
.block-child {
  position: absolute;
  top: 216px;
  left: 570px;
  width: 300px;
  height: 96.4px;
}

.block-child2 {
  animation: enlargeAnimation 4s forwards;
  position: absolute;
  top: 216px;
  left: 570px;
}

@keyframes enlargeAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3.5);
  }
  100% {
    display: none;
    opacity: 0;
    transform: translateY(400%);
  }
}

@keyframes moveLeftAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1500%);
  }
}

@keyframes moveRightAnimation {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(+1500%);
  }
}

@keyframes moveUpAnimation {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-1550px);
  }
}

@keyframes disappearAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    display: none;
  }
}

@keyframes heightAnimation {
  0% {
    height: 4800px;
  }
  100% {
    height: 3200px;
  }
}

.how-green-interests {
  margin: 0;
}
.how-green-interests-container {
  position: absolute;
  top: 0;
  left: calc(50% - 350px);
}
.block,
.block-icon {
  position: absolute;
  width: 1440px;
  height: 800px;
  overflow: hidden;
}
.block {
  animation: disappearAnimation 5s forwards;
  top: 0;
  left: 0;
  font-size: 48px;
  color: var(--color-white);
}
.block-icon {
  top: 800px;
  left: calc(50% - 720px);
}
.funnel-of-matches1 {
  position: absolute;
  top: 0;
  left: calc(50% - 167px);
}
.persons {
  position: relative;
}
.chats-wrapper,
.matches-wrapper,
.no-chats-wrapper,
.no-match-wrapper,
.persons-wrapper {
  position: absolute;
  top: 0;
  left: 247px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 120px;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-lgi);
  box-sizing: border-box;
  z-index: 100;
}
.chats-wrapper,
.matches-wrapper,
.no-chats-wrapper,
.no-match-wrapper {
  top: 98px;
  left: 80px;
}
.chats-wrapper,
.no-chats-wrapper,
.no-match-wrapper {
  top: 240px;
  left: 0;
}
.no-chats-wrapper,
.no-match-wrapper {
  top: 98px;
  left: 434px;
}
.no-chats-wrapper {
  top: 240px;
  left: 230px;
}
.group-child,
.group-inner,
.group-item {
  position: absolute;
  top: 55.5px;
  left: 348.5px;
  width: 113px;
  height: 79px;
}
.group-inner,
.group-item {
  top: 58.5px;
  left: 150.5px;
}
.group-inner {
  top: 160.5px;
  left: 55.5px;
  width: 66px;
  height: 120px;
}
.frame-parent,
.vector-icon {
  position: absolute;
  top: 155.5px;
  left: 173.5px;
  width: 123px;
  height: 102px;
}
.frame-parent {
  top: 89px;
  left: 0;
  width: 554px;
  height: 320px;
  font-size: var(--font-size-xl);
  color: var(--color-black);
}
.block1,
.funnel-of-matches {
  position: absolute;
  top: 196px;
  left: calc(50% - 277px);
  width: 554px;
  height: 409px;
}
.block1 {
  animation: moveUpAnimation 6s forwards;
  top: 1600px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 800px;
  overflow: hidden;
  font-size: 40px;
  color: var(--color-white);
}
.frame-wrapper,
.persons-container {
  position: absolute;
  left: 0;
  width: 120px;
  height: 80px;
}
.persons-container {
  top: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-lgi);
  box-sizing: border-box;
}
.frame-wrapper {
  top: 24px;
}
.age1,
.group-icon {
  position: absolute;
  top: 0;
}
.age1 {
  left: calc(50% - 33px);
}
.group-icon {
  height: 87.68%;
  width: 100%;
  right: 0;
  bottom: 12.32%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b,
.b1,
.b2,
.b3,
.b4,
.b5 {
  position: absolute;
  top: 170px;
  left: 3px;
}
.b1,
.b2,
.b3,
.b4,
.b5 {
  left: 40px;
}
.b2,
.b3,
.b4,
.b5 {
  left: 80px;
}
.b3,
.b4,
.b5 {
  left: 117px;
}
.b4,
.b5 {
  left: 155px;
}
.b5 {
  left: 193px;
}
.b10,
.b11,
.b12,
.b6,
.b7,
.b8,
.b9 {
  position: absolute;
  top: 170px;
  left: 233px;
}
.b10,
.b11,
.b12,
.b7,
.b8,
.b9 {
  left: 269px;
}
.b10,
.b11,
.b12,
.b8,
.b9 {
  left: 307px;
}
.b10,
.b11,
.b12,
.b9 {
  left: 345px;
}
.b10,
.b11,
.b12 {
  left: 383px;
}
.b11,
.b12 {
  left: 421px;
}
.b12 {
  left: 459px;
}
.b13,
.b14,
.b15,
.group-group {
  position: absolute;
  top: 170px;
  left: 497px;
}
.b14,
.b15,
.group-group {
  left: 535px;
}
.b15,
.group-group {
  left: 574px;
}
.group-group {
  height: 72.39%;
  width: 100%;
  top: 27.61%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-xl);
}
.age {
  position: absolute;
  top: 6px;
  left: calc(50% - 10px);
  width: 600px;
  height: 268px;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.climate-change-wrapper {
  position: absolute;
  top: 74px;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 180px;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-lgi);
  box-sizing: border-box;
}
.interests1 {
  position: absolute;
  top: 0;
  left: calc(50% - 71px);
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.environmentalism-wrapper,
.nature-protection-wrapper {
  position: absolute;
  top: 74px;
  left: 200px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 200px;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-lgi);
  box-sizing: border-box;
}
.nature-protection-wrapper {
  left: 420px;
}
.interests {
  position: absolute;
  top: 334px;
  left: 560px;
  width: 620px;
  height: 154px;
}
.men-wrapper,
.women-wrapper {
  position: absolute;
  top: 74px;
  left: calc(50% - 59.5px);
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 120px;
  height: 80px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-lgi);
  box-sizing: border-box;
}
.men-wrapper {
  top: 174px;
}
.gender1 {
  position: absolute;
  top: 0;
  left: 0;
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.gender {
  position: absolute;
  top: 154px;
  left: calc(50% - 590px);
  width: 121px;
  height: 254px;
}
.relationship-goals {
  position: absolute;
  top: 0;
  left: calc(50% - 145px);
  font-size: var(--font-size-17xl);
  color: var(--color-white);
}
.heart-with-arrow {
  position: relative;
  width: 40px;
  height: 37.6px;
  object-fit: cover;
}
.long-term-partner {
  position: relative;
  font-size: var(--font-size-base-6);
}
.group,
.parent {
  position: absolute;
  top: 67px;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 90px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.group {
  left: 110px;
  padding: var(--padding-3xs) 0;
}
.clinking-glasses-icon {
  position: relative;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.container,
.frame-div,
.parent1,
.parent2 {
  position: absolute;
  top: 67px;
  left: 220px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 90px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) var(--padding-8xs);
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.frame-div,
.parent1,
.parent2 {
  top: 247px;
  left: 0;
}
.parent1,
.parent2 {
  left: 110px;
}
.parent2 {
  left: 220px;
}
.relationship-goals-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 395px);
  width: 310px;
  height: 407px;
}
.block2,
.group-parent {
  position: absolute;
  top: 212px;
  left: calc(50% - 590px);
  width: 1180px;
  height: 488px;
}
.block2 {
  animation: moveUpAnimation 6s forwards;
  top: 2400px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 800px;
  overflow: hidden;
}
.group-icon1,
.matches-container {
  position: absolute;
  left: 0;
  overflow: hidden;
}
.matches-container {
  top: 24px;
  border-radius: var(--br-11xl);
  background-color: var(--color-white);
  width: 120px;
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-smi) var(--padding-lgi);
  box-sizing: border-box;
}
.group-icon1 {
  height: 82.63%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 17.37%;
  max-width: 100%;
  max-height: 100%;
}
.b22 {
  position: absolute;
  top: 113px;
  left: 3px;
}
.b23,
.b24,
.b25,
.b26,
.b27,
.b28 {
  position: absolute;
  top: 113px;
  left: 40px;
}
.b24,
.b25,
.b26,
.b27,
.b28 {
  left: 80px;
}
.b25,
.b26,
.b27,
.b28 {
  left: 117px;
}
.b26,
.b27,
.b28 {
  left: 155px;
}
.b27,
.b28 {
  left: 193px;
}
.b28 {
  left: 233px;
}
.b29,
.b30,
.b31,
.b32,
.b33,
.b34 {
  position: absolute;
  top: 113px;
  left: 269px;
}
.b30,
.b31,
.b32,
.b33,
.b34 {
  left: 307px;
}
.b31,
.b32,
.b33,
.b34 {
  left: 345px;
}
.b32,
.b33,
.b34 {
  left: 383px;
}
.b33,
.b34 {
  left: 421px;
}
.b34 {
  left: 459px;
}
.b35,
.b36,
.b37,
.group-container {
  position: absolute;
  top: 113px;
  left: 497px;
}
.b36,
.b37,
.group-container {
  left: 535px;
}
.b37,
.group-container {
  left: 574px;
}
.group-container {
  height: 51.12%;
  width: 100%;
  top: 48.88%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-xl);
}
.block3,
.group-icon2 {
  position: absolute;
  overflow: hidden;
}
.block3 {
  animation: moveUpAnimation 6s forwards;
  top: 3200px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 800px;
}
.group-icon2 {
  height: 70.37%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 29.63%;
  left: 0;
  max-width: 100%;
  max-height: 100%;
}
.b44,
.b45,
.b46,
.b47,
.b48,
.b49 {
  position: absolute;
  top: 57px;
  left: 3px;
}
.b45,
.b46,
.b47,
.b48,
.b49 {
  left: 40px;
}
.b46,
.b47,
.b48,
.b49 {
  left: 80px;
}
.b47,
.b48,
.b49 {
  left: 117px;
}
.b48,
.b49 {
  left: 155px;
}
.b49 {
  left: 193px;
}
.b50,
.b51,
.b52,
.b53,
.b54,
.b55 {
  position: absolute;
  top: 57px;
  left: 233px;
}
.b51,
.b52,
.b53,
.b54,
.b55 {
  left: 269px;
}
.b52,
.b53,
.b54,
.b55 {
  left: 307px;
}
.b53,
.b54,
.b55 {
  left: 345px;
}
.b54,
.b55 {
  left: 383px;
}
.b55 {
  left: 421px;
}
.b56,
.b57,
.b58,
.b59,
.group-div {
  position: absolute;
  top: 57px;
  left: 459px;
}
.b57,
.b58,
.b59,
.group-div {
  left: 497px;
}
.b58,
.b59,
.group-div {
  left: 535px;
}
.b59,
.group-div {
  left: 574px;
}
.group-div {
  height: 30.22%;
  width: 100%;
  top: 69.78%;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: var(--font-size-xl);
}
.parent10 {
  position: absolute;
  top: 67px;
  left: 110px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs) 0;
  box-sizing: border-box;
  gap: var(--gap-3xs);
}
.block4 {
  animation: moveUpAnimation 6s forwards;
  position: absolute;
  top: 4000px;
  left: calc(50% - 720px);
  width: 1440px;
  height: 800px;
  overflow: hidden;
}
.wireframe {
  animation: heightAnimation 6s forwards;
  position: relative;
  background: linear-gradient(180deg, #fd297b, #ff7455);
  width: 100%;
  height: 4800px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-proxima-nova);
}
html {
  scroll-behavior: smooth;
}
a {
  color: black;
}

.btn-up {
  /* фиксированное позиционирование */
  position: fixed;
  /* цвет фона */
  background-color: #ff7455;
  /* расстояние от правого края окна браузера */
  right: 20px;
  /* расстояние от нижнего края окна браузера */
  bottom: 0;
  /* скругление верхнего левого угла */
  border-top-left-radius: 8px;
  /* скругление верхнего правого угла */
  border-top-right-radius: 8px;
  /* вид курсора */
  cursor: pointer;
  /* отображение элемента как flex */
  display: flex;
  /* выравниваем элементы внутри элемента по центру вдоль поперечной оси */
  align-items: center;
  /* выравниваем элементы внутри элемента по центру вдоль главной оси */
  justify-content: center;
  /* ширина элемента */
  width: 60px;
  /* высота элемента */
  height: 50px;
}

.btn-up::before {
  content: "";
  width: 40px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #fd297b; /* цвет заднего фона при наведении */
  }
}
